/* Lab:exp_1_Calibration of Inclined Tube Manometer using Askania Minimeter
	 File name: main.css
   Author:Prakriti Dhang
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table,th,td{
    text-align: center;
}

#askaninam{
position: absolute;
left: 215px;
top: 125px;
}

#inclm{
    position: absolute;
    left: 375px;
    top: 169px;
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
}

#lbeaker{
 position: absolute;
 top: 180px;
 left: 25px;

}


#scaleask{
    position: absolute;
left: 230px;
top: 125px;

}
/*#inclred
{
position: absolute;
left:468px;
top: 120px;
width: 5px;
height: 185px;
display: block;
background: rgb(255, 8, 0);
/*-webkit-transform: rotate(45deg) ;*/
    /*transform: rotate(45deg) ;
/*}
#inclredwh{
position: absolute;
left:474px; /*++*/
/*top: 121px; /* --*/
/*width: 5px;
height: 170px;
display: block;
background: rgb(255, 253, 253);
/*-webkit-transform: rotate(45deg) ;*/
    /*transform: rotate(45deg) ;
}*/
#myCanvas{
    position: absolute;
    left:468px;
    top: 121px;
    transform: rotate(45deg) ;
    }

    #myCanvasa{
        position: absolute;
        left: 1px;
        top: 1px;
        /*transform: rotate(45deg) ;*/
        }


/*#askaniamorg{

width: 20px;
height: 80px;
position: absolute;
left: 215px;
top:125px;
background: rgba(255, 136, 0, 0.925);

}


#askaniamorgwh{

    width: 20px;
    height: 78px;
    position: absolute;
    left: 215px;
    top:125px;
    background: rgb(240, 236, 236);
    }*/



    #prrel{
        width: 10px;
        height: 10px;
        position: absolute;
        left: 70px;
        top:145px;
        background: rgb(24, 23, 23);
        }




        @media print {
            body {-webkit-print-color-adjust: exact !important;
               
                
            }
            }
            @page {
                margin: 1in; 
              }
              
            @print {
               @page :footer {
                  display: none;
                  
                   
               }
             
               @page :header {
                  display: none;
                  
               }
           }
           @media print {
            #myPlot {
              padding-right: 1cm;
            }
          }








/*border-right: 4px solid rgb(255, 131, 29);
-webkit-transform:
            translateY(-10px)
            translateX(-10px)
            rotate(90deg); */

/* #askorgh{
position: absolute;
left:2px;
top: 80px;
height:10px;  /* height limit 10 - 80 */
/*width: 15px;

}

#incredh{
    position: absolute;
    left: 15px;
    top: 65px;
    height:20px;  /* height limit 10 - 80 */
    /*width: 60px;
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
}*/