/* Lab:exp_6_Establishment of the Relationship between Kata Cooling Power and Air Velocity
	 File name: main6.css
   Author:Prakriti Dhang
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table,th,td{
    text-align: center;
    font-size: medium;
    width: 20%;
}


.timerDisplay{
  position: relative;
  width: 40%;
  background: #feffcd;
  left: 0%;
  padding: 0px 0;
  font-family: 'Roboto mono',monospace;
  color: #0381bb;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  box-shadow: 0 0 20px rgba(0, 110, 201, 0.25);
}
.timerunit{
  position: relative;
  width: 40%;
 
  left: 0%;
  padding: 0px 0;
  font-family: 'Roboto mono',monospace;
  color: #0381bb;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
 
}


.buttons{
  width: 50%;
  margin: 40px auto 0 auto;
  
}

#psychro{
    position: absolute;
    top:65px;
    left: 90px;
}
#ring{
  position: absolute;
  top:46px;
  left: 153px;
}
#ductset{
    position: absolute;
    top:100px;
    left: 280px;
}
#readw1{
  position: absolute;
  top:439px;
  left: 482px;
  /*animation: rotation 5s linear 0s infinite;
  animation-play-state: paused;*/
}
#readw2{
  position: absolute;
  top:424px;
  left: 468px;
  animation: rotation 5s linear 0s infinite;
  animation-play-state: paused;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(358deg)
  }
}

#myCanvas{
    position: absolute;
    top: 297px;
    left:491px;
    display: block;
    }

    #myCanvas1{
      position: absolute;
      top: 297px;
      left:491px;
      display: none;
      }

#myCanvas2{
    position: absolute;
    top: 304px;
    left:130px;
        
      }



     /*  Flow control device  1 */
#contldevice1 {
    position: absolute;
    left: 280px;
    top: 400px;
    animation: tplate1 10s linear;
   /* margin-left: 50% !important;*/
  }

 /*  Flow control device 2 */
#contldevice2 {
    position: absolute;
    left: 280px;
    top: 400px;
   
  }
  /*  Flow control device 3 */
#contldevice3 {
    position: absolute;
    left: 280px;
    top: 400px;
  }

  @media print {
    body {-webkit-print-color-adjust: exact !important;
       
        
    }
    }
    @page {
        margin: 1in; 
      }
      
    @print {
       @page :footer {
          display: none;
          
           
       }
     
       @page :header {
          display: none;
          
       }
   }
   @media print {
    #myPlot {
      padding-right: 1cm;
    }
  }
  