@import "compass/css3";

.tank {
  border: #ddd solid 1px;
  width: 100%;
  height: 250px;
  position : relative;
}

.bg {
  background: url(http://yveshelie.net/codepen/pipes.png) left top no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index : 100;
}

.tube {
  background-color: #efefef;
  position: absolute;
  &.x {
    height: 15px;
  }
  &.y {
    width: 15px;
  }
}

.water {
  background-color: #ef4988;
  position : absolute;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
  .x & {
    height: 100%;
  }
  .y & {
    width: 100%;
  }
}